@import url("https://fonts.cdnfonts.com/css/slate-pro-medium");

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
button,
label,
input {
  font-family: Slate Pro Black;
  display: flex;
  align-items: top;
}

html {
  background-color: #80abea;
}
